
    <template>
      <div>
        <button class="btn btn-primary ml-4" @click="followUser" v-text="buttonText"></button>
      </div>
    </template>


<script>

  Vue.component('button-counter', {
    data: function () {
      return {
        count: 0
      }
    },
    template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
  })

</script>